.main-container{
 display: grid;
 place-items: center;
 height: 100vh;
}
.container{
 height: 500px;
 width: 40%;
 min-width: 300px;
}
.ListItem{
 overflow: auto;
 height: 500px;
 margin-top: 10px;
}
.inputGroup{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 background: rgb(246, 246, 246);
 border-radius: 7px;
 overflow: hidden;
 padding: 5px;
}.input-field{
 flex-grow: 7;
}.leftSide{
 flex-grow: 3;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.myBtn{
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  background: rgb(255, 252, 252);
  color: blueviolet;
  cursor: pointer;
  box-shadow: 2px 1px 8px 1px rgb(0 0 0 / 11%);
  transition: all .5s;
}
.myBtn:hover{
 color: rgb(255, 252, 252);
 background: blueviolet;
}
.myBtn:active{
 box-shadow: 2px 1px 7px 1px rgb(0 0 0 / 35%);
}
.myBtn-primary{
 color: rgb(255, 252, 252);
 background:blueviolet;
}.myBtn-primary:hover{
 background:rgb(168, 83, 248);
}
.wordBreak{
  word-wrap: break-word;
}
/* for header */
.searchResultBar{
  height: 350px;
  width: 100vw;
  z-index: 10;
  position: absolute;
  right: 0px;
  background: rgba(255, 255, 255, 0.863);  
  overflow: auto;  
  box-shadow:  #3f51b529 -6px 7px 20px 4px;
  transition: all 150ms ease-in-out;
}
@media screen and (min-width:400px) {
  .searchResultBar{
    width: 350px;
  } 
}
.searchHeading{
  margin: 15px 20px;
  overflow: hidden;
  color: #003141d3;
  font-size:x-large;
  font-weight: 600;
}
.searchText{
  color: #005858ce;
  font-size:large; 
  transform: translateY(-10px);
}
.show{
  transform: scale(100%);
  visibility: visible;
  z-index: 10;
}
.hide{
  transform: scale(70%);
  visibility: hidden;
  z-index: -10;
}